/* NOTE : You can directly include the Font-Style at the top in the STYLE.css file  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* NOTE : As I want to use this PARTICULAR FONT in the whole page, I will directly include the FONT FAMILY in the BODY TAG itself. */
body{
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(220,240,242);
}

/* NOTE : As the whole section has to be centered, so apply centering effects on the whole section tag. */
section{
  width: 60%;
  margin: auto;
  text-align: center;
  margin-top: 60px;
}

.inner-link{
  background-color: rgb(82, 128, 251);
  padding: 20px;
  transition: 0.1s ease-in;
  border: 2px solid rgb(82, 128, 251);
}

/* NOTE : ANKER TAGS can be Globally Defined */

a{
  color: white;
  text-decoration: none;
}

.inner-link:hover{
  background-color: transparent;
}

a:hover{
  color: rgb(82, 128, 251);
  color: black;
}

/* NOTE : Box-Model is the PROPER USAGE OF MARGIN, BORDER & PADDING. */

.head{
  font-size: 30px;
}

.sub-head{
  font-size: 20px;
}

.links-section{
  margin-top: 20px;
}

.about{
margin-top: 75px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
}

.linktree{
margin-top: 75px;
font-family: 'Open Sans', sans-serif;
font-size: 50px;
}

.footer{
margin-top: 75px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
}

/* NOTE : Adding Responsiveness Through Media Query */
@media screen and (max-width: 720px) {
  section{
    width: 100%;
  }
}